.left_sidebar {
   background-color: #5e5373;
   border: 1px dashed #ece89d;
   grid-area: left-sidebar;

   display: flex;
   align-items: center;
   justify-content: center;
}

.nav {
   display: flex;
   flex-direction: column;
}

.nav > a {
   text-decoration: none;
}
